body{
    --main-bg-color: #495C70;
    --table-form-color:  #69829d;
    --table-header-color: #494970;
}

*{
    background-color: var(--main-bg-color);
    color: aliceblue;
    text-align: center;
}

p{
    background-color: var(--table-form-color);
}
/* ==========================================================================
TABLE CSS
========================================================================== */
table {
  border-collapse: collapse;
  border-radius: 6px 6px 6px 6px;
  border: 1px solid #000;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  text-align: left;
   border: 1px solid #000;  
}

th{
	background-color: var(--table-header-color);
    margin: 0px;
    padding: 10px;
}
td{    
    background-color: var(--table-form-color);
    padding: 10px;
}



/* ==========================================================================
FORM CSS
========================================================================== */
div.form
{
    
    display: block;
    text-align: center;
    border: 5px outset var(--table-header-color: #494970);
    
}
form
{
    width: 500px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: var(--table-form-color);
    padding: 10px;
    border: 5px outset var(--table-header-color: #494970);
}

label{
      background-color: var(--table-form-color);  
      display: inline-block;
      width: 140px;
      text-align: center;
      padding-bottom: 3px;
}
input{
    width: 200px;
    padding-bottom: 5px;
    margin-bottom: 3px;
    text-align: left;
}

input[type=button], input[type=submit], input[type=reset]{
    width: 49%;
    
}

ul{
   list-style-type: none;
   background-color: var(--table-form-color);
    text-align: center;
}
li{
    background-color: var(--table-form-color);
    float: left;
    width: 30%;
}
div.radioContainer{
    display: flex;
    text-align: center;
    background-color: var(--table-form-color);
}

.radio{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--table-form-color);
}