*{
    
    background-color: var(--main-bg-color);
    color: aliceblue;
    text-align: center;
}

/* ==============================================
    Define CSS variables for easy color change
============================================== */
body{
    --main-bg-color: #003b6f;
    --form-table-bg: #64769d;
    --form-table-heading: #34244b;
    
}
p{
    background-color: var(--form-table-bg);
}
/* :==========================================================
TABLE CSS
============================================================= */
table {
  border-collapse: collapse;
  border-radius: 6px 6px 6px 6px;
  border: 1px solid #000;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  text-align: left;
   border: 1px solid #000;  
}

th{
	background-color:     var(--form-table-heading);
;
    margin: 0px;
    padding: 10px;
}
td{    
    background-color: var(--form-table-bg);
    padding: 10px;
}



/* =====================================================
FORM CSS
===================================================== */
div.form
{
    display: block;
    text-align: center;
    
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: var(--form-table-bg);
    padding: 10px;
}

label{
  background-color: var(--form-table-bg);  
  display: inline-block;
  width: 100px;
  text-align: right;
  padding-bottom: 3px;
}

input{
    width: 200px;
    padding-bottom: 3px;
}

ul{
    list-style: none;
    background-color: var(--form-table-bg);
    text-align: center;
}

li{
    background-color: var(--form-table-bg);
    
}

.radio{
    width: 20px;
}